Source: apache-storm
Section: net
Priority: extra
Maintainer: Michael Pershyn <michael.pershyn@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), java-runtime-headless, openjdk-7-jre-headless (>= 7u85) | sun-java7-jre (>= 7u85), wget
Standards-Version: 3.9.1

Package: storm
Architecture: all
Depends: storm-common (= ${binary:Version})
Recommends: storm-ui, storm-nimbus, storm-supervisor, storm-logviewer, storm-drpc
Description: Storm is a distributed realtime computation system
 Similar to how Hadoop provides a set of general primitives for doing batch processing.
 Storm provides a set of general primitives for doing realtime computation.
 Storm is simple, can be used with any programming language,
 is used by many companies, and is a lot of fun to use!
 .
 This is a meta package that depends on the essential packages required for
 storm.

Package: storm-common
Architecture: all
Depends: java-runtime-headless
Conflicts: apache-storm
Description: Storm is a distributed realtime computation system
 Similar to how Hadoop provides a set of general primitives for doing batch processing.
 Storm provides a set of general primitives for doing realtime computation.
 Storm is simple, can be used with any programming language,
 is used by many companies, and is a lot of fun to use!
 .
 This package contains the files required by all other storm packages.

Package: storm-ui
Architecture: all
Depends: storm-common (= ${binary:Version})
Description: Storm is a distributed realtime computation system
 Similar to how Hadoop provides a set of general primitives for doing batch processing.
 Storm provides a set of general primitives for doing realtime computation.
 Storm is simple, can be used with any programming language,
 is used by many companies, and is a lot of fun to use!
 .
 This package contains the init scripts to run storm ui.

Package: storm-nimbus
Architecture: all
Depends: storm-common (= ${binary:Version})
Description: Storm is a distributed realtime computation system
 Similar to how Hadoop provides a set of general primitives for doing batch processing.
 Storm provides a set of general primitives for doing realtime computation.
 Storm is simple, can be used with any programming language,
 is used by many companies, and is a lot of fun to use!
 .
 This package contains the init scripts to run storm nimbus.

Package: storm-supervisor
Architecture: all
Depends: storm-common (= ${binary:Version})
Description: Storm is a distributed realtime computation system
 Similar to how Hadoop provides a set of general primitives for doing batch processing.
 Storm provides a set of general primitives for doing realtime computation.
 Storm is simple, can be used with any programming language,
 is used by many companies, and is a lot of fun to use!
 .
 This package contains the init scripts to run storm supervisor.

Package: storm-logviewer
Architecture: all
Depends: storm-common (= ${binary:Version})
Description: Storm is a distributed realtime computation system
 Similar to how Hadoop provides a set of general primitives for doing batch processing.
 Storm provides a set of general primitives for doing realtime computation.
 Storm is simple, can be used with any programming language,
 is used by many companies, and is a lot of fun to use!
 .
 This package contains the init scripts to run storm logviewer.

Package: storm-drpc
Architecture: all
Depends: storm-common (= ${binary:Version})
Description: Storm is a distributed realtime computation system
 Similar to how Hadoop provides a set of general primitives for doing batch processing.
 Storm provides a set of general primitives for doing realtime computation.
 Storm is simple, can be used with any programming language,
 is used by many companies, and is a lot of fun to use!
 .
 This package contains the init scripts to run storm drpc.
