downloads/
*.changes
*.deb
*.dsc
*.tar.gz
*.tar.xz
*.zip
*.log
*.substvars
*.debhelper
.vagrant/
apache-storm/apache-storm-*/
apache-storm/build
apache-storm/debian/apache-storm
apache-storm/debian/files
apache-storm/debian/storm-common/
apache-storm/debian/storm-drpc/
apache-storm/debian/storm-logviewer/
apache-storm/debian/storm-nimbus/
apache-storm/debian/storm-supervisor/
apache-storm/debian/storm-ui/
apache-storm/debian/storm/
apache-storm/debian/debhelper-build-stamp
apache-storm/orig
sample-layout/*
