downloads/
tmp/
*.changes
*.deb
*.dsc
*.tar.gz
*.zip
*.log
*.substvars
*.debhelper
storm-deb-packaging/build
storm-deb-packaging/debian/apache-storm
storm-deb-packaging/orig
storm-deb-packaging/debian/files
