#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# ORIG_PATH points to version that should be built.
# If you want to use your own custom version of storm, name ORIG_PATH
# accordingly and copy storm's sources to ORIG_PATH manually.
# Additionally you will want update debian/changelog accordingly.
# Standard versions of storm will be downloaded automatically.
# for example:
# ORIG_PATH=apache-storm-0.9.2-incubating
STORM_VERSION := $(shell cat ../STORM_VERSION)
ORIG_FILE=../apache-storm_${STORM_VERSION}.orig.tar.gz
ORIG_PATH=apache-storm-${STORM_VERSION}

${ORIG_PATH}: ${ORIG_FILE}
	tar xf ${ORIG_FILE}

clean:
	@- $(RM) orig \
	  build \
	  debian/files \
	  debian/*.substvars \
	  debian/*.debhelper \
	  debian/*.debhelper.log

	@- $(RM) -r debian/storm \
	  debian/storm-common \
	  debian/storm-drpc \
	  debian/storm-logviewer \
	  debian/storm-nimbus \
	  debian/storm-supervisor \
	  debian/storm-ui

build: ${ORIG_PATH}
	ln -fs ${ORIG_PATH} orig
	touch build

override_dh_auto_clean:
	@- $(RM) build
	@- $(RM) -r target

%:
	dh $@ --with systemd
